@{
    ViewData["Title"] = "Najlepsza pizza w galaktyce";
}

<!-- Hero Section -->
<div class="section no-pad-bot" id="hero">
    <div class="container">
        <br><br>
        <h1 class="header center yellow-text text-accent-2">GALAK PIZZA</h1>
        <div class="row center">
            <h5 class="header col s12 light white-text">
                Pizza z dostawą w całej galaktyce!
                <br>
                <span class="yellow-text">🚀 Dostawa UFO w 30 parsek lub gratis! 🚀</span>
            </h5>
        </div>
        <div class="row center">
            <a href="/Sklep" class="btn-large waves-effect waves-light btn-galak">
                ZAMÓW TERAZ
                <i class="material-icons right">rocket_launch</i>
            </a>
        </div>
        <br><br>
    </div>
</div>

<!-- Promocje Section -->
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3 class="yellow-text">
                    <i class="material-icons">local_fire_department</i>
                    Gorące Promocje z Kosmosu
                </h3>
            </div>
        </div>

        <div class="row">
            <!-- Pizza 1 -->
            <div class="col s12 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <div style="height: 200px; background: linear-gradient(45deg, #b71c1c, #ffc107); display: flex; align-items: center; justify-content: center;">
                            <h1 style="font-size: 100px;">🍕</h1>
                        </div>
                        <span class="card-title black-text">Pizza Bomba</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red">
                            <i class="material-icons">add</i>
                        </a>
                    </div>
                    <div class="card-content">
                        <p>Ostra jak język Kapitana! Jalapeño, salami picante, tabasco.</p>
                        <p class="yellow-text text-darken-2">
                            <strong>29.99 PLN</strong>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Pizza 2 -->
            <div class="col s12 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <div style="height: 200px; background: linear-gradient(45deg, #0d47a1, #00e676); display: flex; align-items: center; justify-content: center;">
                            <h1 style="font-size: 100px;">🛸</h1>
                        </div>
                        <span class="card-title white-text">Pizza UFO</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red">
                            <i class="material-icons">add</i>
                        </a>
                    </div>
                    <div class="card-content">
                        <p>Tajemnicze składniki z obcej planety (ser, szynka, pieczarki).</p>
                        <p class="yellow-text text-darken-2">
                            <strong>34.99 PLN</strong>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Pizza 3 -->
            <div class="col s12 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <div style="height: 200px; background: linear-gradient(45deg, #212121, #ffc107); display: flex; align-items: center; justify-content: center;">
                            <h1 style="font-size: 100px;">⭐</h1>
                        </div>
                        <span class="card-title white-text">Pizza Gwiezdna</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red">
                            <i class="material-icons">add</i>
                        </a>
                    </div>
                    <div class="card-content">
                        <p>Klasyka z gwiazdozbioru Margherity. Bazyli, mozzarella, pomidory.</p>
                        <p class="yellow-text text-darken-2">
                            <strong>27.99 PLN</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Features Section -->
<div class="section grey darken-4">
    <div class="container">
        <div class="row">
            <div class="col s12 m4 center">
                <i class="material-icons large yellow-text">rocket</i>
                <h5 class="white-text">Szybka Dostawa UFO</h5>
                <p class="light grey-text">30 parsek lub pizza gratis!</p>
            </div>
            <div class="col s12 m4 center">
                <i class="material-icons large yellow-text">restaurant</i>
                <h5 class="white-text">Składniki z Kosmosu</h5>
                <p class="light grey-text">Importowane z najlepszych planet</p>
            </div>
            <div class="col s12 m4 center">
                <i class="material-icons large yellow-text">military_tech</i>
                <h5 class="white-text">Rekomendacja Kapitana</h5>
                <p class="light grey-text">"Zarąbiście dobre!" - Kapitan Bomba</p>
            </div>
        </div>
    </div>
</div>

<!-- Parallax Section (opcjonalnie) -->
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light white-text">
                    "Ta pizza jest lepsza niż całe te Gwiezdne Wojny!"
                    <br>- Zadowolony Klient z Marsa
                </h5>
            </div>
        </div>
    </div>
</div>