<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Galak Pizza</title>

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="~/css/materialize.min.css" />

    <!-- Custom Styles -->
    <link rel="stylesheet" href="~/css/galak-style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <!-- Navbar -->
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">🚀 GALAK PIZZA</a>
            <a href="#" data-target="mobile-menu" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>

            <!-- Desktop Menu -->
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Start</a></li>
                <li><a href="/Sklep">Menu Pizz</a></li>
                <li><a href="/Sklep/Promocje">Promocje</a></li>
                <li><a href="/Home/About">O Nas</a></li>
                <li><a href="/Home/Contact">Kontakt</a></li>
                <li>
                    <a href="/Koszyk" class="btn-floating btn-small red">
                        <i class="material-icons">shopping_cart</i>
                        <span class="cart-badge">0</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Mobile Sidenav -->
    <ul class="sidenav" id="mobile-menu">
        <li><a href="/">Start</a></li>
        <li><a href="/Sklep">Menu Pizz</a></li>
        <li><a href="/Sklep/Promocje">Promocje</a></li>
        <li><a href="/Home/About">O Nas</a></li>
        <li><a href="/Home/Contact">Kontakt</a></li>
        <li class="divider"></li>
        <li><a href="/Koszyk" class="red-text">🛒 Koszyk (0)</a></li>
    </ul>

    <!-- Main Content -->
    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <!-- Footer -->
    <footer class="page-footer grey darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="yellow-text">Galak Pizza</h5>
                    <p class="grey-text text-lighten-4">
                        Najlepsza pizza w galaktyce! Dowozimy nawet na Księżyc*
                        <br><small>*dostawa na Księżyc dodatkowo płatna</small>
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="yellow-text">Kontakt</h5>
                    <ul>
                        <li>📞 123-456-789</li>
                        <li>📧 zamowienia@galakpizza.pl</li>
                        <li>🚀 ul. Kosmiczna 42, Warszawa</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright black">
            <div class="container">
                © @DateTime.Now.Year Galak Pizza - Reszta załogi nie żyje
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/materialize.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        // Inicjalizacja Materialize
        $(document).ready(function(){
            $('.sidenav').sidenav();
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>